<h2>Tell us about you!</h2>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="center-block"><b>Your First Name: </b>
  
        <input class="form-control" formControlName="firstName">
        
  
      </label>

      <br/>


      <label class="center-block"> <b>Your Last Name: </b>
  
        <input class="form-control" formControlName="lastName">
  
      </label>

      <br/>


      <label class="center-block"><b>Your email Address: </b>
  
          <input class="form-control" formControlName="email">
    
        </label>

        <br/>

      <button class = "btn btn-primary" type="submit">Continue</button>
      
    </div>
  </form>

  allo {{customer | json}}