<h2>Tell us about you!</h2>

<br/>

<form class="formInputStyle" [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)">

  <!-- first name --> 
  <div  [ngClass]="{'has-error':!customerForm.controls['firstName'].valid}">

    <mat-form-field class="fieldStyle">
      <input matInput placeholder="First Name" [formControl]="customerForm.controls['firstName']">
    </mat-form-field>

    
  </div>

  <br/>
  
  <!-- lastname --> 
  <div  [ngClass]="{'has-error':!customerForm.controls['lastName'].valid}">
   
    <mat-form-field class="fieldStyle">
      <input matInput placeholder="Last Name" [formControl]="customerForm.controls['lastName']">
    </mat-form-field>

    
  </div>

  <br/>

  <!-- Email --> 
  <div  ng-model="email" [ngClass]="{'has-error':!customerForm.controls['email'].valid} ">
    
    <mat-form-field class="fieldStyle">
      <input matInput placeholder="Exemple@Gmail.com" [formControl]="customerForm.controls['email']">
    </mat-form-field>

  </div>

  <br>

  <!-- Phone (pas linked encore) --> 

  <div class="form-group" [ngClass]="{'has-error':!customerForm.controls['phone'].valid}">
    
    <mat-form-field class="fieldStyle">
      <input matInput placeholder="(418)-XXX-XXXX" [formControl]="customerForm.controls['phone']">
    </mat-form-field>

  </div>

  <br>

  <!-- Button --> 
  <button mat-raised-button color="primary" type="submit" [disabled]="!customerForm.valid">Continue</button>
</form>

{{customer | json}}