.formInputStyle {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .fieldStyle {
    width: 100%;
  }

  /* Size et position de la card */
  .cardClass {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    
  }